@media(max-width: 3840px){

    body {
        background-position: 90% top;
        background-image: url("imagenes/fondo.jpg")
        
    }

    /*----------MENU----------*/
        header {
            width: 100%;
            height: 70px;
            background: black;
            color: white;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
        }

        .container {
            width: 100%;
            padding: 8px;
            margin-top: -3px;
            margin-left: -10px;
        }

        .icono {
            width: 60px;
            position: absolute;
            margin-left: 1%;
        }

        .impa{
            width: 220px;
            position: absolute;
            margin-left: 82%;
            margin-right: 11%;
        }

        .titulo {
            margin-top: 0.5%;
            text-align: center;
            position: relative;
            font-family: Arial, Garamond, Times New Roman;
            font-style: italic;
        }

        .menu {
            position: absolute; 
            top: 70px;
            width: 100%;
            background: rgba(82, 70, 70, 0.9);
            margin-right: 20px;
        }

        .barra {
            color: white;
            text-decoration: none;
        }

        /*----------BREVE EXPLICACION----------*/
           
            .explicacion > h1 {
                padding-top: 7%;
                padding-left: 1%;
                color: white;
            }

            .ul{
                list-style-type: circle;
                color: white;
            }

            h2 {
                padding-left: 2%;
                color: white;
            }

            p {
                padding-bottom: 5%;
                color: black;
            }

            th {
                color: white;
            }

            a {
               color: white;
                text-decoration: none;
            }

        /*----------CONTACTO----------*/

            .contacto{
            position:relative;
            top: 100px;
            height: 150px;
            width: 100%;
            background: rgba(150, 149, 149, 0.9);
            }
            
            .contacto > h1 {
                margin-top:2px;
                text-align:  center;
            }

            .contacto > table {
                text-align: left;
                vertical-align: center;
                margin-top:-40px
            }

            .logo {
                position: absolute;
                top: 30px;
                right: 16px;
                height: 100px;
            }

            .contact {
                color: black;
                text-decoration: none;
            }
            .contact_insta {
                color: black;
                text-decoration: none;
            }

            .insta {
                width: 4%;
            }

        /*----------CONTACTO_AP----------*/

            .contacto_ap{
            position:absolute;
            top: 1000px;
            height: 150px;
            width: 100%;
            background: rgba(150, 149, 149, 0.9);
            }
            
            .contacto_ap > h1 {
                margin-top:2px;
                text-align:  center;
            }

            .contacto_ap > table {
                text-align: left;
                vertical-align: center;
                margin-top:-40px
            }

            .logo {
                position: absolute;
                top: 30px;
                right: 16px;
                height: 100px;
            }

            .contact {
                color: black;
                text-decoration: none;
            }
            .contact_insta {
                color: black;
                text-decoration: none;
            }

            .insta {
                width: 4%;
            }


    /*----------APARTADO TECNICO----------*/
           
            .campo >h2 {
                position: absolute;
                top: 14%;
                left: 38%;  
            }
            
            .campo > p {
                position: absolute;
                top: 20%;
                
            }
            .carpeta_campo {
                margin-top: 10%;
                margin-left: 5%;
                height: 800px;
                width: 90%; 
                
            }


}