<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wall-H Website</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header" id="inicio">
        <img src="img/hamburgesa.svg" alt="" class="hamburguer">
        <nav class="menu-navegacion">
            <a href="#inicio">Inicio</a>
            <a href="#breve-resumen">Breve Resumen</a>
            <a href="#galeria">Galeria</a>
            <a href="#nosotros">Nosotros</a>
            <a href="#apartado-tecnico">Apartado Tecnico</a>
            <a href="#contacto">Contacto</a>
            <a href="#login">Login</a>
            <a href="#sign in">Sign in</a>
        </nav>
        <div class="contenedor head">
            <h1 class="titulo">Wall-H</h1>
            <p class="copy">Wall-H es una unidad robótica capaz de suplir necesidades médicas en un hospital</p>
        </div>
    </header>
    <main>
        <section class="contenedor" id="breve-resumen">
            <h2 class="subtitulo">Un breve resumen</h2>
            <div class="contenedor-resumen">
                <img src="img/Sin título-2.png" alt="">
                <div class="lista-resumen">
                    <div class="resumen">
                        <h3 class="n-resumen"><span class="number">1</span>¿Que es Wall-H?</h3>
                        <p>Wall-H es una unidad robótica semiautonoma, capaz de manejarse mediante control remoto y suplir finalidades medicas en un hospital.
                        </p>
                    </div>
                    <div class="resumen">
                        <h3 class="n-resumen"><span class="number">2</span>¿Cual es su fin?</h3>
                        <p>Su objetivo es el desarrollar y ensamblar una unidad automatizada que reduzca el contacto directo del paciente con sintomatología infecciosas y el personal de medicina, mediante un desarrollo de electrónica/informática.
                        </p>
                    </div>
                    <div class="resumen">
                        <h3 class="n-resumen"><span class="number">3</span>¿Por que Utilizarlo?</h3>
                        <p>La unidad permite que enfermeros y personal medico eviten el entrar en contacto con pacientes con sintomatologia altamente contagiosa, por lo que ayuda a reducir el posible contagio entre el personal y el paciente, ademas de recolectar
                            información basica sobre el estado del internado y enviarsela en cuestion de segundos a su medico encargado.
                        </p>
                    </div>
                    <div class="resumen">
                        <h3 class="n-resumen"><span class="number">4</span>¿Quienes lo desarrollan?</h3>
                        <p>Wall-H es un proyecto en proceso realizado por alumnos de la IMPA en 7°mo 2°da Avionica. Este deberá medir el ritmo cardiaco, temperatura, oxígeno en sangre para con estos datos, poder controlar la condición de los pacientes, y
                            generar un registro en el sistema.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="galery" id="galeria">
            <div clas="contenedor">
                <h2 class="subtitulo">Galeria</h2>
                <div class="contenedor-galeria">
                    <img src="img/img 1.jpeg" alt="" class="img-galeria">
                    <img src="img/img 2.jpeg" alt="" class="img-galeria">
                    <img src="img/img 3.jpg" alt="" class="img-galeria">
                    <img src="img/img 4.png" alt="" class="img-galeria">
                    <img src="img/img 5.jpeg" alt="" class="img-galeria">
                    <img src="img/img 6.JPG" alt="" class="img-galeria">
                    <img src="img/img 7.png" alt="" class="img-galeria">
                    <img src="img/img 8.jpg" alt="" class="img-galeria">
                    <img src="img/img 9.png" alt="" class="img-galeria">
                </div>
            </div>
        </section>
        <section class="imagen-light">
            <img src="img/close.svg" alt="" class="close">
            <img class="agregar-imagen" src="" alt="">
        </section>
        <section class="contenedor" id="nosotros">
            <h2 class="subtitulo">Nosotros</h2>
            <section class="nostro">
                <div class="cont-nosot">
                    <img src="img/david.JPG" alt="">
                    <h3 class="n-nosotr">David Bourlot</h3>
                </div>
                <div class="cont-nosot">
                    <img src="img/geral.JPG" alt="">
                    <h3 class="n-nosotr">Geraldine Flores</h3>
                </div>
                <div class="cont-nosot">
                    <img src="img/fonta.JPG" alt="">
                    <h3 class="n-nosotr">Valentino Fontanazzi</h3>
                </div>
                <div class="cont-nosot">
                    <img src="img/monto.JPG" alt="">
                    <h3 class="n-nosotr">Juan Manuel Montoni</h3>
                </div>
                <div class="cont-nosot">
                    <img src="img/nico.JPG" alt="">
                    <h3 class="n-nosotr">Nicolas Ezequiel Moreno</h3>
                </div>
            </section>
        </section>
    </main>
    <footer id="contacto">
        <div class="contenedor footer-content">
            <div class="contact-us">
                <h2 class="brand">Wall-H</h2>
                <p></p>
            </div>
            <div class="social-media">
                <a href="https://instagram.com/wallh_robot" class="social-media-icon">
                    <i class='bx bxl-instagram'></i>
                </a>
                <a href="https://www.youtube.com/channel/UCFzaVJnzOSfZ1-CwhUZ9iKw?sub_confirmation=1" class="social-media-icon">
                    <i class='bx bxl-youtube'></i>
                </a>
                <a href="https://drive.google.com/folderview?id=1iMDNGCG0mv_zb9NhSF0B2YOmHBnxkvu8" class="social-media-icon">
                    <i class='bx bxs-folder-minus'></i>
                </a>
                <a href="https://github.com/impatrq/wallh" class="social-media-icon">
                    <i class='bx bxl-github'></i>
                </a>
                <a href="https://t.me/Wall_H_bot" class="social-media-icon">
                    <i class='bx bxl-telegram'></i>
                </a>
                <a href="http://wallhrobot@gmail.com/" class="social-media-icon">
                    <i class='bx bx-mail-send'></i>
                </a>
            </div>
        </div>
        <div class="line"></div>
    </footer>


    <script src="js/menu.js"></script>
    <script src="js/ligthboxt.js"></script>
</body>

</html>